body {
    background: grey;
}

header {
    background: orange;
    margin: auto;
}

header h1 {
    color: black;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 75px;
    margin: auto;
}

header nav {
    background: orange;
    margin: auto;
    text-align: center;
}

header nav a {
    background: orange;
    font-size: 30px;
    margin: auto;
    float: left;
    width: 25%;
}


header a img[alt="facebook icon"] {
    width: 50px;
    height: 50px;
    background: orange;

}

header a img[alt="github icon"] {
    width: 50px;
    height: 50px;
    background: orange;
}

#menu {
    background: orange;
    margin: auto;
    float: left;
    width: 15%;
    /*border-style: solid;
    border-color: white;
    border-width: 1px;*/
    
}

#menu p {
    text-align: center;
    font-size: 30px;
}

#menu a {
    font-size: 25px;
    text-align: left;
    margin: auto;
}

#info {
    background: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    float: left;
    width: 42.5%;
}

#info p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    color: greenyellow;
}

h2 {
    background: black;
    font-size: 35px;
    text-align: center;
    color: blueviolet;
    margin: auto;
    
    float: left;
    width: 100%;
}

#kredins {
    background: black;
    float: right;
    width: 42.5%;
    margin: auto;
    height: 100%;
}

img[alt="Kredin image"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#kredins #img-caption {
    text-align: center;
    font-style: italic;
    font-size: 15px;
    color: white;
    margin: auto;
}

#typing {
    background: black;
    width: 42.5%;
    float: right;
    text-align: center;
    align-content: center;
}

img[alt="typing gif"] {
    display: block;
    margin: auto;
}

#typing-caption {
    color: white;
    font-size: 15px;
    font-style: italic;
    margin: auto;
    padding-bottom: 2px;
}

footer {
    background: orange;
    text-align: center;
    margin: auto;
    padding: 10px;
}

footer a {
    background: orange;
    text-align: center;
    font-size: 30px;
    float: left;
    width: 50%;
}

#wrong-page {
    font-size: 60px;
}

img[alt="HAHA spiderman meme"] {
    width: 100%;
}